html, body
{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#header
{
    position: fixed;
    width: 100%;
    height: 32px;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    font-family: monospace;
    font-size: 12px;
}
#header .text
{
    padding: 10px;
}
#footer
{
    position: fixed;
    width: 100%;
    height: 32px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    font-family: monospace;
    font-size: 12px;
}
#footer .text
{
    padding: 10px;
}